@page "/Products"
@using OfferAggregator.Bll;
@using OfferAggregator.Bll.Models;
@using OfferAggregator.Dal.Repositories;

<PageTitle>Products</PageTitle>

<button @onclick="GetFullProducts">Получить все продукты на складе</button>

<div class="Products">
    <div class="GetFullProducts">
        <div class="tableGetFullProducts">
            <table class="tableGetFullProducts" border="1.5" width="800">
                <th>Id</th>
                <th>Name</th>
                <th>GroupId</th>
                <th>GroupName</th>
                <th>Amount</th>
                <th>AverageScore</th>
                <th>Tags</th>
                @foreach (var product in _fullProducts)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.GroupId</td>
                        <td>@product.GroupName</td>
                        <td>
                            @product.Amount</td>

                        <td>
                            @foreach (var tag in product.Tags)
                            {
                                 <tr>
                            <td border="0">@tag.Name</td>
                                 </tr>
                            }
                    </td>
                    <td>@product.AverageScore</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@*<button @onclick="RegistrateProductInStock(StocksWithProductModel stockProduct)">Зарегистрировать продукт на складе</button>*@

@*<EditForm Model="@_stocksWithProductModel" OnValidSubmit="@HandleValidSubmit">
*@@*    <DataAnnotationsValidator />
    <ValidationSummary />*@

    @*<InputText id="name" @bind-Value="_stocksWithProductModel.Name" />*@
@*    <InputSelect id="amount" @bind-Value="_stocksWithProductModel.Product">

        </InputSelect>
    <InputNumber id="amount" @bind-Value="_stocksWithProductModel.Amount" />

    <button type="submit">Submit</button>
</EditForm>*@

@code {
    private ProductService _productService = new ProductService(
            new ProductsRepository(),
            new ProductsReviewsAndStocksRepository(),
            new TagsRepository(),
            new GroupRepository()
    );

    private List<FullProductModel> _fullProducts = new List<FullProductModel>();

    private StocksWithProductModel _stocksWithProductModel = new();


    private void GetFullProducts()
    {
        _fullProducts = _productService.GetFullProducts();
    }

    //    private void RegistrateProductInStock(StocksWithProductModel stockProduct)
    //{
    //    _productService.RegistrateProductInStock(stockProduct);
    //}

    //private void HandleValidSubmit()
    ////{
        
    //}
}