@using OfferAggregator.Bll.Models;
@using OfferAggregator.Bll;
@using OfferAggregator.Dal.Models;
@using OfferAggregator.Dal.Repositories;
@using System.ComponentModel.DataAnnotations;

@page "/getFullProducts"

<div class="get-full-products">
    <h3>Список товаров на складе</h3>

    <EditForm Model="@_filter">
        <InputNumber id="countOver" @bind-Value="_filter.CountOverFilter" />
        <InputNumber id="countUnder" @bind-Value="_filter.CountUnderFilter" />
    </EditForm>

    @if (_fullProducts.Count > 0)
    {
        <table class="table-get-full-products">
            <th>№ товара</th>
            <th>Наименование товара</th>
            <th>Наименование группы</th>
            <th width: 130px>Кол-во товара на складе</th>
            <th>Наименование тега</th>
            <th>Средняя оценка товара</th>
            @foreach (var fullProduct in _fullProducts.Where(FilterPredicat))
            {
                <tr>
                    <td>@fullProduct.Id</td>
                    <td>
                        <a href="/product/@fullProduct.Id">
                            @fullProduct.Name
                        </a>
                    </td>
                    <td>@fullProduct.GroupName</td>
                    <td>@fullProduct.Amount</td>
                    <td>
                        @foreach (var tag in fullProduct.Tags)
                        {
                    <tr class="nested-row">
                        <td>@tag.Name</td>
                    </tr>
                        }
                </td>
                    @if (fullProduct.AverageScore != null)
                    {
                    <td>@Math.Round((double)fullProduct.AverageScore,1)</td>
                    }
                    else
                    {
                    <td>-</td>
                    }
                </tr>
            }
        </table>

    }
    else
    {
        <h4>В настоящий момент товары на складе отсутствуют</h4>
    }
</div>

<a href="/Stock">
    <button class="btn">Вернуться в главное меню Склада</button>
</a>

@code {
    private ProductService _productService;

    private List<FullProductModel> _fullProducts = new();

    private Filter _filter = new();

    protected override void OnInitialized()
    {
        _productService = new ProductService(
        new ProductsRepository(),
        new ProductsReviewsAndStocksRepository(),
        new TagsRepository(),
        new GroupRepository(),
        new ClientRepository());

        _fullProducts = _productService.GetFullProducts();
    }

    private bool FilterPredicat(FullProductModel fullProduct)
    {
        return (_filter.CountUnderFilter is null || fullProduct.Amount <= _filter.CountUnderFilter)
        && (_filter.CountOverFilter is null || fullProduct.Amount >= _filter.CountOverFilter);
    }

    private class Filter
    {
        public int? CountUnderFilter { get; set; }

        public int? CountOverFilter { get; set; }
    }
}
